[mongo-database]
uri = "mongodb://user:password@localhost:27017/db?authSource=admin"

[redis]
address = "localhost:6379"
password = ""
db = 0
protocol = 0

[auth]
secret_key = "somethingsomethingcoolcustomunique"
expiration_hours = 24
cookie_key = "session_token"
domain = "myshop.hu"
